<a href="https://colab.research.google.com/github/SanjeevKumar369/My_Pixeltest_June_2023/blob/main/List_Array_Missing_Value_Fill_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
distance=[1,2,3]
type(distance)

list

In [ ]:
# convert list into a numpy array
import numpy as np
distance=[1,2,3]
np_dist =np.array(distance)
type(np_dist)

numpy.ndarray

In [ ]:
ele_in_array=[[1,2,3], [4,5,6],[7,8,9]]
print(type(ele_in_array))
print("========")
ele_in_array

<class 'list'>
========

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
import numpy as np
np_el_array1=np.array(ele_in_array)
np_el_array1
print(type(np_el_array1))
print("========")
np_el_array1

<class 'numpy.ndarray'>
========

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [1]:
# Create an array with 3 rows and 6 columns
array = [
    [1, 2, 3, None, 5, 6],
    [7, 8, None, 10, 11, 12],
    [13, 14, 15, 16, None, 18]
]

# Print the array
for row in array:
    print(row)

[1, 2, 3, None, 5, 6]
[7, 8, None, 10, 11, 12]
[13, 14, 15, 16, None, 18]

In [7]:
def fill_array(array, fill_value):
    for i in range(len(array)):
        for j in range(len(array[i])):
            if array[i][j] is None:
                array[i][j] = fill_value

# Create an array with 3 rows and 6 columns
array = [
    [1, 2, 3, None, 5, 6],
    [7, 8, None, 10, 11, 12],
    [13, 14, 15, 16, None, 18]
]

# Call the fill_array function to fill None values with 69
fill_array(array, 69)

# Print the updated array
for row in array:
    print(row)

[1, 2, 3, 69, 5, 6]
[7, 8, 69, 10, 11, 12]
[13, 14, 15, 16, 69, 18]

In [18]:
# Array conversion=> list
import numpy as np
array = [
    [1, 2, 3, None, 5, 6],
    [7, 8, None, 10, 11, 12],
    [13, 14, 15, 16, None, 18]
]
df=array

print("Type of df is====: "+ str(df))
df1=np.array(df)
print("Type of df1===>>> is: "+str(df1))

Type of df is====: [[1, 2, 3, None, 5, 6], [7, 8, None, 10, 11, 12], [13, 14, 15, 16, None, 18]]
Type of df1===>>> is: [[1 2 3 None 5 6]
 [7 8 None 10 11 12]
 [13 14 15 16 None 18]]