<a href="https://colab.research.google.com/github/SanjeevKumar369/My_Pixeltest_June_2023/blob/main/Series%20and%20Dictionaries%2011_10_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.Series([10, 20, 30, 40, 50])
df = pd.DataFrame({'Column_Name': data})
print(df)

   Column_Name
0           10
1           20
2           30
3           40
4           50

In [ ]:
import pandas as pd
data = [    {'Name': "Suresh", 'Age': 25, 'City': "Delhi"},
    {'Name': "Kamal", 'Age': 30, 'City': "Shimla"},
    {'Name': "Pawan", 'Age': 22, 'City': "Panchkula"},]
df = pd.DataFrame(data)
print(df)

     Name  Age       City
0  Suresh   25      Delhi
1   Kamal   30     Shimla
2   Pawan   22  Panchkula

In [ ]:
import pandas as pd

data = [
    {'Name': "Suresh    ", 'Age': 25, 'City': "      Delhi"},
    {'Name': "Kamal", 'Age': 30, 'City': "Shimla"},
    {'Name': "Pawan", 'Age': 22, 'City': "Panchkula"},
]

df = pd.DataFrame(data)

# Cleaning operations
# 1. Removing Leading and Trailing Whitespace
df['Name'] = df['Name'].str.strip()
df['City'] = df['City'].str.strip()

# 2. Converting to Uppercase (for example)
df['Name'] = df['Name'].str.upper()
df['City'] = df['City'].str.upper()

print(df)

     Name  Age       City
0  SURESH   25      DELHI
1   KAMAL   30     SHIMLA
2   PAWAN   22  PANCHKULA

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ["Suresh", "Kamal", "Pawan", "Raj", "Sachin"],
        'Age': [25, 30, 22, 28, 35],
        'City': ["Delhi", "Shimla", "Panchkula", "Mumbai", "Bangalore"]}

df = pd.DataFrame(data)

# Find the row with the maximum
# 'Age'
max_age_index = df['Age'].idxmax()
row_with_max_age = df.loc[max_age_index]

# Find the row with the minimum 'Age'
min_age_index = df['Age'].idxmin()
row_with_min_age = df.loc[min_age_index]

# Print the results
print("Row with maximum Age:")
print(row_with_max_age)

print("\nRow with minimum Age:")
print(row_with_min_age)

Row with maximum Age:
Name       Sachin
Age            35
City    Bangalore
Name: 4, dtype: object

Row with minimum Age:
Name        Pawan
Age            22
City    Panchkula
Name: 2, dtype: object

In [ ]:
import pandas as pd

data = {
    'Diary Number': [5886100],
    'Case_Type': ['CRR(F)'],
    'District': ['Rohtak'],
    'Fiiling_date': ['14.10.2021'],
    'Petitioner_Name': ['Naina Kashyap'],
    'Age': [43]
}
df = pd.DataFrame(data)
print(df)

   Diary Number Case_Type District Fiiling_date Petitioner_Name  Age
0       5886100    CRR(F)   Rohtak   14.10.2021   Naina Kashyap   43

In [ ]:
import pandas as pd
data = {
    'District': ['Rohtak'],
    'Name': ['Naina Kashyap'],
    'Age': [43]
}
df = pd.DataFrame(data)
print(df)

  District           Name  Age
0   Rohtak  Naina Kashyap   43

In [ ]:
import pandas as pd
data = pd.Series([10, 20, 30, 40, 50])
df = pd.DataFrame({'Column_Name': data})
print(df)

In [ ]:
import pandas as pd
data = pd.Series([1,2,3])
df = pd.DataFrame({'Column_Name': data})
print(df)

In [ ]:
import pandas as pd

data = [
    {'Name': "Suresh    ", 'Age': 25, 'City': "      Delhi"},
    {'Name': "Kamal", 'Age': 30, 'City': "Shimla"},
    {'Name': "Pawan", 'Age': 22, 'City': "Panchkula"},
]

df = pd.DataFrame(data)

# Cleaning operations
# Removing Leading and Trailing #Whitespace
df['Name'] = df['Name'].str.strip()
df['City'] = df['City'].str.strip()
print(df)

     Name  Age       City
0  Suresh   25      Delhi
1   Kamal   30     Shimla
2   Pawan   22  Panchkula

In [ ]:
import pandas as pd
# Create a sample DataFrame
data = {'Name': ["Suresh", "Kamal", "Pawan", "Raj", "Sachin"],
        'Age': [25, 30, 22, 28, 35],
        'City': ["Delhi", "Shimla", "Panchkula", "Mumbai", "Bangalore"]}
df = pd.DataFrame(data)
# Find the row with the maximum
# 'Age'
max_age_index = df['Age'].idxmax()
row_with_max_age = df.loc[max_age_index]
# Find the row with the minimum 'Age'
min_age_index = df['Age'].idxmin()
row_with_min_age = df.loc[min_age_index]
# Print the results
print("Row with maximum Age:")
print(row_with_max_age)
print("\nRow with minimum Age:")
print(row_with_min_age)

Row with maximum Age:
Name       Sachin
Age            35
City    Bangalore
Name: 4, dtype: object

Row with minimum Age:
Name        Pawan
Age            22
City    Panchkula
Name: 2, dtype: object

In [ ]:
import pandas as pd
data = {
    'District': ['Rewari'],
    'Name': ['Manoj Kumar'],
    'Age': [46]
}
df = pd.DataFrame(data)
print(df)

  District         Name  Age
0   Rewari  Manoj Kumar   46

In [ ]:
import pandas as pd

# Create the DataFrame from the given data
data = {
    'District': ['Rewari'],
    'Name': ['Manoj Kumar'],
    'Age': [46]
}

df = pd.DataFrame(data)

# Set the 'District' column as the index
df.set_index('District', inplace=True)

# Print the resulting DataFrame
print(df)

                 Name  Age
District
Rewari    Manoj Kumar   46

In [ ]:
import pandas as pd

# Create the DataFrame from the given data
data = {
    'District': ['Rewari'],
    'Name': ['Manoj Kumar'],
    'Age': [46]
}

df = pd.DataFrame(data)

# Transpose the DataFrame (convert rows to columns)
df_transposed = df.T

# Reset the index to have the columns named properly
df_transposed.reset_index(inplace=True)
df_transposed.columns = ['Attribute', 'Value']

# Print the transposed DataFrame
print(df_transposed)

In [ ]:
import pandas as pd

# Create the DataFrame from the given data
data = {
    'District': ['Rewari'],
    'Name': ['Manoj Kumar'],
    'Age': [46]
}

df = pd.DataFrame(data)

# Rename the columns
df = df.rename(columns={'District': 'NewDistrict', 'Name': 'NewName', 'Age': 'NewAge'})

# Print the DataFrame with the renamed columns
print(df)

  NewDistrict      NewName  NewAge
0      Rewari  Manoj Kumar      46

In [ ]:
import pandas as pd

# Create a Series from the given data
data = {
    'District': ['Rewari'],
    'Name': ['Manoj Kumar'],
    'Age': [46]
}

series = pd.Series(data)

# Access elements by label (index)
district_value = series['District']
name_value = series['Name']
age_value = series['Age']

# Print the values
print("District:", district_value)
print("Name:", name_value)
print("Age:", age_value)

District: ['Rewari']
Name: ['Manoj Kumar']
Age: [46]

In [ ]:
import pandas as pd
import numpy as np

# Create a DataFrame with missing #values
data = {
    'District': ['Rewari', 'Gurgaon', 'Faridabad', np.nan, 'Hisar'],
    'Name': ['Manoj Kumar', 'Sunita Sharma', np.nan, 'Rajesh Mehta', 'Neha Gupta'],
    'Age': [46, np.nan, 33, 28, 35]
}

df = pd.DataFrame(data)

# Replace missing values with a specific value (e.g., 0)
df_filled = df.fillna(0)

# Print the DataFrame with missing values replaced
print(df_filled)

In [ ]:
import pandas as pd
import numpy as np

# Create a DataFrame with missing #values
data = {
    'District': ['Rewari', 'Gurgaon', 'Faridabad', np.nan, 'Hisar'],
    'Name': ['Manoj Kumar', 'Sunita Sharma', np.nan, 'Rajesh Mehta', 'Neha Gupta'],
    'Age': [46, np.nan, 33, 28, 35]
}

df = pd.DataFrame(data)

# Replace missing values with a
# specific value (e.g., MISSING)
df_filled = df.fillna('MISSING')

# Print the DataFrame with missing
 # values replaced
print(df_filled)

In [ ]:
import pandas as pd
import numpy as np

# Create a DataFrame with missing #values
data = {
    'District': ['Rewari', 'Gurgaon', 'Faridabad', np.nan, 'Hisar'],
    'Name': ['Manoj Kumar', 'Sunita Sharma', np.nan, 'Rajesh Mehta', 'Neha Gupta'],
    'Age': [46, np.nan, 33, 28, 35]
}

df = pd.DataFrame(data)

# Replace missing values with a
# specific value (e.g., 0)
df_filled = df.fillna(0)

# Print the DataFrame with missing
 # values replaced
print(df_filled)

In [ ]:
import pandas as pd
import numpy as np

# Create a DataFrame with missing #values
data = {
    'District': ['Rewari', 'Gurgaon', 'Faridabad', np.nan, 'Hisar'],
    'Name': ['Manoj Kumar', 'Sunita Sharma', np.nan, 'Rajesh Mehta', 'Neha Gupta'],
    'Age': [46, np.nan, 33, 28, 35]
}

df = pd.DataFrame(data)

# Replace missing values with a
# specific value (e.g., 'NAN')
df_filled = df.fillna('===NAN===')

# Print the DataFrame with missing
 # values replaced
print(df_filled)

    District           Name        Age
0     Rewari    Manoj Kumar       46.0
1    Gurgaon  Sunita Sharma  ===NAN===
2  Faridabad      ===NAN===       33.0
3  ===NAN===   Rajesh Mehta       28.0
4      Hisar     Neha Gupta       35.0